<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" id="navi">
    <a class="navbar-brand" [routerLink]="['home']" routerLinkActive="active">e-shop</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['canal']" routerLinkActive="active">Canal</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['message']" routerLinkActive="active">Message</a></li>
            </ul>
        </div>
    </div>
</nav>
